*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.menu-icon{
  position: relative;
  margin: 15% auto;
  text-align: center;
  display: block;
  width: 70px;
  cursor: pointer;
}
.slach{
  width: 70px;
  height: 10px;
  background-color: #000;
  display: block;
  margin: 10px 0;
  transition: all .5s ease-in-out;
}
.clicked .slach:nth-child(2){
  opacity: 0;
}
.clicked .slach:nth-child(1){
  position: absolute;
  top: 10px;
  transform: rotate(45deg);
}
.clicked .slach:nth-child(3){
  position: absolute;
  top: 10px;
  transform: rotate(-45deg);
}
