*{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.icon{
    position: absolute;
    display: block;
    top: 40%;
    left: 50%;
    transform: rotate(45deg) scale(1.5);
}
.icon .corner{
  position: relative;
}
.icon .corner:nth-child(1)::before{
  content: "";
  position: absolute;
  top: -30px;
  right: -30px;
  width: 25px;
  height: 25px;
  background-color: #2980b9;
  margin: 5px;
}
.icon .corner:nth-child(1)::after{
  content: "";
  position: absolute;
  top: 0px;
  right: -30px;
  width: 25px;
  height: 25px;
  background-color: #2980b9;
  margin: 5px;
}
.icon .corner:nth-child(2)::before{
  content: "";
  position: absolute;
  top: -30px;
  right: 0;
  width: 25px;
  height: 25px;
  background-color: #2980b9;
  margin: 5px;
}
.icon .corner:nth-child(2)::after{
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  width: 25px;
  height: 25px;
  background-color: #2980b9;
  margin: 5px;
}
.icon .corner:nth-child(1){
    animation: cubs .7s 1s infinite cubic-bezier(1,-0.11, 0.44, 0.99) alternate;
}
.icon .corner:nth-child(2){
    animation: cubs .7s 1s infinite cubic-bezier(1,-0.11, 0.44, 0.99) alternate-reverse;
}
@keyframes cubs {
  0%{
    top: 0;
  }
  100%{
    top: 20px;
  }
}
